h1 {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}
h1:hover {
    cursor: pointer;
}
form {
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.btn_remove {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 25px;
    color: gray;
}
.btn_remove:hover {
    cursor: pointer;
    opacity: 0.8;
}
.btn_remove:active{
    opacity: 0.5;
}
.btn-primary {
    width: 85px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 3px 3px 0;
}